services:
  backend:
    image: createchstudio/vgorc-tm-backend:${DOCKER_ARCH}
    container_name: backend
    environment:
      - TM_BASE_URL=http://localhost:3000
      - TM_WEB_URL=http://localhost:80
      - TM_DB_FILE=/etc/backend/${TM_DB_FILE}
      - TM_LICENSE_FILE=/etc/backend/${TM_LICENSE_FILE}
      - TM_JWT_SECRET=${TM_JWT_SECRET}
      - TM_ADMIN_PASSWORD=${TM_ADMIN_PASSWORD}
      - TM_REFEREE_PASSWORD=${TM_REFEREE_PASSWORD}
      - TM_TOURNAMENT_NAME=${TM_TOURNAMENT_NAME}
      - TM_VENDOR_LOGO=${TM_VENDOR_LOGO}
      - TM_RANK_TABLE_SCROLL_SPEED=${TM_RANK_TABLE_SCROLL_SPEED}
      - TM_LOGO_INTERVAL_NUMBER=${TM_LOGO_INTERVAL_NUMBER}
    volumes:
      - ${DOCKER_BACKEND_MOUNT_FOLDER}:/etc/backend
    networks:
      vgorctm:
        ipv4_address: 172.30.0.20

  frontend:
    image: createchstudio/vgorc-tm-frontend:latest
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "8199:80"
    networks:
      vgorctm:
        ipv4_address: 172.30.0.10

networks:
  vgorctm:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24