name: Build Frontend Docker & Push

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
          dir: ./frontend

      - name: Build production bundle
        uses: borales/actions-yarn@v4
        with:
          cmd: build
          dir: ./frontend

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to Aliyun ACR
        run: |
          echo "${{ secrets.ALIYUN_ACR_PASSWORD }}" | docker login --username "${{ secrets.ALIYUN_ACR_USERNAME }}" --password-stdin ${{ secrets.ALIYUN_ACR_REGISTRY }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            createchstudio/vgorc-tm-frontend:latest
            ${{ secrets.ALIYUN_ACR_REGISTRY }}/createchstudio/vgorc-tm-frontend:latest
          context: frontend
          file: frontend/Dockerfile
